<!-----------------------------------------
Formulario de ingreso
----------------------------------------->

<div class="signin text-center" *ngIf="!login" >

    <form action="" class="form-signin was-validated" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>

      <h3 class="mb-3 font-weight-normal">Login</h3>

      <div class="form-group">

          <input type="text" class="form-control mt-3" placeholder="Usuario" name="userLogin" [(ngModel)]="user" pattern="(?=.*[A-Za-z]).{2,10}" maxlength="10" #userLogin ="ngModel" required>
          <div *ngIf="!userLogin.valid && userLogin.touched" class="invalid-feedback">Error en el campo de usuario</div>
          <div *ngIf="userLogin.errors?.required && userLogin.touched" class="invalid-feedback">Este campo es obligatorio</div>

      </div>

      <div class="form-group">

        <input type="password" class="form-control mt-3" placeholder="Contraseña" name="passwordLogin" [(ngModel)]="password"  #passwordLogin="ngModel" required>
        <div *ngIf="!passwordLogin.valid && passwordLogin.touched" class="invalid-feedback">Este campo es obligatorio</div>

      </div>

      <div *ngIf="!validarLogin" class="alet alert-danger">Usuario y contraseña no validos</div>
      <button [disabled]="!f.valid" class="btn btn-primary btn-block mt-3">Ingresar</button>

    </form>

</div>


<!-----------------------------------------
Lectura del articulo
----------------------------------------->

<article *ngIf="login">

  <div class="jumbotron jumbotron-fluid">
    
      <div class="container">

        <h1 class="display-4">Title</h1>

        <p class="lead">Subtitle</p>

        <hr class="my-4">
        
        <p>Content</p>

        <button class="btn btn-primary" routerLink="/">Regresar</button>

      </div>
   
  </div>

  <div class="container">

        <div [innerHTML]="contenidoArticle"></div>

  </div>

</article>
