<!--=====================================
	MOUSE PARALLAX EFFECT
	======================================-->

	<div class="container-fluid p-0 bg-white" id="mouse">
		
		<h2 class="text-uppercase py-3 text-muted text-center">Movimiento con el Mouse</h2>

		<figure class="m-0 mouseParallax" style="position:relative; overflow: hidden">
			
			<img src="assets/img/mouse/plano02.png">

			<figure class="mouseParallax" style="position:absolute; top:0; left:0">

				<img src="assets/img/mouse/plano01.png">

			</figure>

			<figure class="mouseParallax" style="position:absolute; top:0; left:0">

				<img src="assets/img/mouse/plano00.png">
				
			</figure>

		</figure>

	</div>